(URGENT) Missing RFCs in relaton-data-rfcs

From https://github.com/ietf-tools/relaton-data-rfcs/issues/5

> These are absent, but maybe they shouldn’t be?
> 
> * RFC4399
> * RFC0710
> * RFC0275
> * RFC3999
> * RFC0248
> * RFC0260
> * RFC6000
> * Possibly others
> 
> Source: they exist under `/public/rfc/bibxml/`.

@andrew2net can you help check (and fix)? Thanks!

@ronaldtse all the documents in the source [dataset](https://www.rfc-editor.org/rfc-index.xml) are published as:
```xml
<rfc-not-issued-entry>
  <doc-id>RFC4399</doc-id>
</rfc-not-issued-entry>
```

Thanks @andrew2net !

Perhaps these were reserved numbers then...