(URGENT) Parse `author.title` contributor role

Here, we have no roles: https://github.com/ietf-tools/relaton-data-rfcs/blob/4e97527a6364853c3208d5ef10be62393cc8f969/data/RFC4872.yaml#L25-L50

However, as https://github.com/ietf-ribose/bibxml-service/issues/238 pointed out, xml2rfc provides `role="editor"`: https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.4872.xml

Are we able to add requisite roles, or is this caused by lacking authoritative data from RFC editor and we can’t add roles without possibly violating data correctness?

Relaton-IETF fetches from the authoritative source here:
https://github.com/relaton/relaton-ietf/blob/f4bcb9823fd93f2ba99fcc01895ad15f5831aeb1/lib/relaton_ietf/data_fetcher.rb#L181

The authoritative source is:
https://www.rfc-editor.org/rfc-index.xml

For example in RFC 4872, the information provided is:
```xml
<?xml version="1.0"?>
<rfc-entry>
  <doc-id>RFC4872</doc-id>
  <title>
RSVP-TE Extensions in Support of End-to-End Generalized Multi-Protocol Label Switching (GMPLS) Recovery
</title>
  <author>
    <name>J.P. Lang</name>
    <title>Editor</title>
  </author>
  <author>
    <name>Y. Rekhter</name>
    <title>Editor</title>
  </author>
  <author>
    <name>D. Papadimitriou</name>
    <title>Editor</title>
  </author>
  <date>
    <month>May</month>
    <year>2007</year>
  </date>
  <format>
    <file-format>ASCII</file-format>
    <file-format>HTML</file-format>
  </format>
  <page-count>47</page-count>
  <keywords>
    <kw>resource reservation protocol</kw>
    <kw>traffic engineering</kw>
  </keywords>
  <abstract>
    <p>
This document describes protocol-specific procedures and extensions for Generalized Multi-Protocol Label Switching (GMPLS) Resource ReSerVation Protocol - Traffic Engineering (RSVP-TE) signaling to support end-to-end Label Switched Path (LSP) recovery that denotes protection and restoration. A generic functional description of GMPLS recovery can be found in a companion document, RFC 4426. [STANDARDS-TRACK]
</p>
  </abstract>
  <draft>draft-ietf-ccamp-gmpls-recovery-e2e-signaling-04</draft>
  <updates>
    <doc-id>RFC3471</doc-id>
  </updates>
  <updated-by>
    <doc-id>RFC4873</doc-id>
    <doc-id>RFC6780</doc-id>
  </updated-by>
  <current-status>PROPOSED STANDARD</current-status>
  <publication-status>PROPOSED STANDARD</publication-status>
  <stream>IETF</stream>
  <area>rtg</area>
  <wg_acronym>ccamp</wg_acronym>
  <errata-url>
http://www.rfc-editor.org/errata_search.php?rfc=4872
</errata-url>
  <doi>10.17487/RFC4872</doi>
</rfc-entry>
```

It does provide a `<title>Editor</title>` element.

We are indeed missing this.

@andrew2net can you help update relaton-ietf to read the `<title>` element? Thanks.

It seems not all entries have an `author/title` element. For example:
```xml
<rfc-entry>
  <doc-id>RFC0001</doc-id>
  <title>Host Software</title>
  <author>
    <name>S. Crocker</name>
  </author>
  <date>
    <month>April</month>
    <year>1969</year>
  </date>
  <format>
    <file-format>ASCII</file-format>
    <file-format>HTML</file-format>
  </format>
  <page-count>11</page-count>
  <current-status>UNKNOWN</current-status>
  <publication-status>UNKNOWN</publication-status>
  <stream>Legacy</stream>
  <doi>10.17487/RFC0001</doi>
</rfc-entry>
```
Should we use `author` by default?

@andrew2net yes. In the RFC Editor XML:
- `<author>` maps to "author"
- `<author>` with `<title>Editor</title>` maps to "editor"
