Remove duplicate RFC document number in auto-fetch references

# Description

Look at this auto-fetched references:
![Screenshot 2023-10-19 220257](https://github.com/relaton/relaton-ietf/assets/33627611/5db36764-cda7-4886-b5c2-d7367e15bb43)

The "RFC <number>" is duplicated in every reference instance.

# To reproduce

Compile the document that contains these references in: https://github.com/cisba/i-d_dlts/pull/1

Note also that in the old Metanorma, using the rfc-asciidoc-rfc template (left side in the picture), the reference to RFC2119 pointed also to BCP14, instead now in the new Metanorma the BCP14 statement is replaced by a duplicate RFC2119 statement (right side in the picture):

![RFC2119 + RFC3161](https://github.com/relaton/relaton-ietf/assets/2389559/84ad2691-a188-4701-8ccf-0b3db42ac242)


We need to determine whether this is a relaton-render issue or a metanorma-ietf issue. @opoudjis any idea?

It will now become a relaton-render issue, now that metanorma-ietf uses relaton-render.

I have just compiled those references and I am getting the following xml2rfc output:

````
   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", RFC 2119, DOI 10.17487/RFC2119, March
              1997, <https://www.rfc-editor.org/info/rfc2119>.

   [RFC3161]  Adams, C., Cain, P., Pinkas, D., and R. Zuccherato,
              "Internet X.509 Public Key Infrastructure Time-Stamp
              Protocol (TSP)", RFC 3161, DOI 10.17487/RFC3161, August
              2001, <https://www.rfc-editor.org/info/rfc3161>.

   [RFC3628]  Pinkas, D., Pope, N., and J. Ross, "Policy Requirements
              for Time-Stamping Authorities (TSAs)", RFC 3628,
              DOI 10.17487/RFC3628, November 2003,
              <https://www.rfc-editor.org/info/rfc3628>.

   [RFC4210]  Adams, C., Farrell, S., Kause, T., and T. Mononen,
              "Internet X.509 Public Key Infrastructure Certificate
              Management Protocol (CMP)", RFC 4210,
              DOI 10.17487/RFC4210, September 2005,
              <https://www.rfc-editor.org/info/rfc4210>.

   [RFC5280]  Cooper, D., Santesson, S., Farrell, S., Boeyen, S.,
              Housley, R., and W. Polk, "Internet X.509 Public Key
              Infrastructure Certificate and Certificate Revocation List
              (CRL) Profile", RFC 5280, DOI 10.17487/RFC5280, May 2008,
              <https://www.rfc-editor.org/info/rfc5280>.

   [RFC5652]  Housley, R., "Cryptographic Message Syntax (CMS)",
              RFC 5652, DOI 10.17487/RFC5652, September 2009,
              <https://www.rfc-editor.org/info/rfc5652>.

   [RFC6838]  Freed, N., Klensin, J., and T. Hansen, "Media Type
              Specifications and Registration Procedures", RFC 6838,
              DOI 10.17487/RFC6838, January 2013,
              <https://www.rfc-editor.org/info/rfc6838>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", RFC 8174, DOI 10.17487/RFC8174, May 2017,
              <https://www.rfc-editor.org/info/rfc8174>.
````

The duplicate RFC identifier is gone.

The BCP 14 identifier is missing from RFC 2119. It is present in the relaton source for RFC 2119 as a series:

````
<series>
<title format="text/plain">BCP</title>
    <number>14</number>  </series>  <series>
<title format="text/plain">RFC</title>
    <number>2119</number>  </series>  <series type="stream">
<title format="text/plain">IETF</title>
  </series>
````

The RFC series is already being presented as a seriesInfo element in the RFC XML we generate:

````
<format target="https://www.rfc-editor.org/info/rfc2119" type="src"></format> <seriesInfo value=" 10.17487/RFC2119" name="DOI"></seriesInfo> <refcontent>RFC 2119</refcontent></reference>
````

I see from https://github.com/memcached/memcached/blob/master/doc/xml2rfc/reference.RFC.2119.xml that BCP is another such series in RFC XML:

````
<seriesInfo name='BCP' value='14' />
<seriesInfo name='RFC' value='2119' />
````

I will add it accordingly.

> I see from https://github.com/memcached/memcached/blob/master/doc/xml2rfc/reference.RFC.2119.xml that BCP is another such series in RFC XML:

@opoudjis please use the output from the official BibXML Service (https://bib.ietf.org) instead of random sources, not the least we developed it...

````
   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", DOI 10.17487/RFC2119, BCP 14,
              RFC 2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.
````